<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Cool Title</title>
</head>
<body>

    {% for each in records %}
    <table>
        <tr>
            <td>{{ each[0] }}</td>
            <td>{{ each[1] }}</td>
            <td>{{ each[2] }}</td>
            <td>{{ each[3] }}</td>
        </tr>
    </table>
    {% endfor %}
    
</body>
</html>